.cycles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1.6rem;

    span{
        font-weight: bold;
        font-size: 1.8rem;
    }
}

.dotsBox{
    display: flex;

    gap: .6rem;
}
.dot{
    height: 2rem;
    width: 2rem;
    background-color: var(--warning);
    border-radius: 50%;
    transition: transform .1s ease-in-out;
}
.dot:hover{
    transform: scale(115%);
}
.shortBreakTime{
    background:var(--primary);
}

.longBreakTime{
    background:var(--info);
}